@charset "UTF-8";

.Knowledge__item--safesupport .Knowledge__link {
	background-image: url(https://s.yimg.jp/images/auct/cms/common/pc/img/1.0.0/spr_common_04.png);
	background-position: 0px -64px;
	width: 164px;
	height: 164px;
}

.Knowledge__item--about .Knowledge__link {
	background-image: url(https://s.yimg.jp/images/auct/cms/common/pc/img/1.0.0/spr_common_04.png);
	background-position: -174px -64px;
	width: 164px;
	height: 164px;
}
