// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-bg-sample-01-name: 'sprite_bg_sample_01';
$sprite-bg-sample-01-x: 0px;
$sprite-bg-sample-01-y: 0px;
$sprite-bg-sample-01-offset-x: 0px;
$sprite-bg-sample-01-offset-y: 0px;
$sprite-bg-sample-01-width: 200px;
$sprite-bg-sample-01-height: 200px;
$sprite-bg-sample-01-total-width: 410px;
$sprite-bg-sample-01-total-height: 410px;
$sprite-bg-sample-01-image: '../img/spr_common_01.png';
$sprite-bg-sample-01: (0px, 0px, 0px, 0px, 200px, 200px, 410px, 410px, '../img/spr_common_01.png', 'sprite_bg_sample_01', );
$sprite-bg-sample-02-name: 'sprite_bg_sample_02';
$sprite-bg-sample-02-x: 210px;
$sprite-bg-sample-02-y: 0px;
$sprite-bg-sample-02-offset-x: -210px;
$sprite-bg-sample-02-offset-y: 0px;
$sprite-bg-sample-02-width: 200px;
$sprite-bg-sample-02-height: 200px;
$sprite-bg-sample-02-total-width: 410px;
$sprite-bg-sample-02-total-height: 410px;
$sprite-bg-sample-02-image: '../img/spr_common_01.png';
$sprite-bg-sample-02: (210px, 0px, -210px, 0px, 200px, 200px, 410px, 410px, '../img/spr_common_01.png', 'sprite_bg_sample_02', );
$sprite-bg-sample-03-name: 'sprite_bg_sample_03';
$sprite-bg-sample-03-x: 0px;
$sprite-bg-sample-03-y: 210px;
$sprite-bg-sample-03-offset-x: 0px;
$sprite-bg-sample-03-offset-y: -210px;
$sprite-bg-sample-03-width: 200px;
$sprite-bg-sample-03-height: 200px;
$sprite-bg-sample-03-total-width: 410px;
$sprite-bg-sample-03-total-height: 410px;
$sprite-bg-sample-03-image: '../img/spr_common_01.png';
$sprite-bg-sample-03: (0px, 210px, 0px, -210px, 200px, 200px, 410px, 410px, '../img/spr_common_01.png', 'sprite_bg_sample_03', );
$sprite-bg-sample-04-name: 'sprite_bg_sample_04';
$sprite-bg-sample-04-x: 210px;
$sprite-bg-sample-04-y: 210px;
$sprite-bg-sample-04-offset-x: -210px;
$sprite-bg-sample-04-offset-y: -210px;
$sprite-bg-sample-04-width: 200px;
$sprite-bg-sample-04-height: 200px;
$sprite-bg-sample-04-total-width: 410px;
$sprite-bg-sample-04-total-height: 410px;
$sprite-bg-sample-04-image: '../img/spr_common_01.png';
$sprite-bg-sample-04: (210px, 210px, -210px, -210px, 200px, 200px, 410px, 410px, '../img/spr_common_01.png', 'sprite_bg_sample_04', );
$spritesheet-width: 410px;
$spritesheet-height: 410px;
$spritesheet-image: '../img/spr_common_01.png';
$spritesheet-sprites: ($sprite-bg-sample-01, $sprite-bg-sample-02, $sprite-bg-sample-03, $sprite-bg-sample-04, );
$spritesheet: (410px, 410px, '../img/spr_common_01.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
