@charset "UTF-8";
.Appinfo {
    margin: 30px 0;

    &__title {
        background-image: url(https://s.yimg.jp/images/auct/cms/common/sp/img/1.0.0/spr_common_04.png);
        background-position: -260px 0px;
        width: 292px;
        height: 35px;
        margin: 0 auto 15px;
        text-indent: -9999px;
    }

    &__deviceItems {
        text-align: center;
        font-size: 0;
    }

    &__deviceItem {
        display: inline-block;
        margin: 0 9px;
    }

    &__link {
        display: table;
        background-image: url(https://s.yimg.jp/images/auct/cms/common/sp/img/1.0.0/spr_common_04.png);
        text-indent: -9999px;
        &--android {
            background-position: -260px -45px;
            width: 151px;
            height: 45px;
        }
        &--iphone {
            background-position: -421px -45px;
            width: 123px;
            height: 45px;
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .Appinfo{
        &__link{
            &--iphone {
                background-image: url(https://s.yimg.jp/images/auct/cms/common/sp/img/1.0.0/spr_common_04_2x.png);
                background-size: 552px 357px;
            }
            &--android {
                background-image: url(https://s.yimg.jp/images/auct/cms/common/sp/img/1.0.0/spr_common_04_2x.png);
                background-size: 552px 357px;
            }
        }
    }
}

