.articleModule{
    $_root: &;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:  calc(var(--vw) * 100);
    margin-bottom:20px;
    &__mnBody{
        text-align:left;
        width:100%;
    }
    &__thumbs{
    width: 100%;
    text-align: center;
    min-height: 0%;
    & img{width:100%;max-width:800px;}
    }
    @media screen and (min-width: 768px) {
        &__mnBody{ text-align: left;}
        &__imgRight,&__imgLeft{
            gap:10px;
            #{$_root}__thumbs{max-width:480px;}
        }
        &__imgRight{ flex-direction: row-reverse;}
        &__imgLeft{ flex-direction: row;}
    }
}