@charset "UTF-8";

.KeyVisual {
    &__inner{
        position: relative;
        //@include textindent-mixin() // mixinの呼び出し（_mixin.scss）
        width: auto;
        height: 450px;
        background: url(../img/kv_pc.jpg) no-repeat 50% 0;
        background-size: cover;
        margin-bottom: 10px;
        /*Tablet*/
        @media screen and (max-width: 1280px) {
            height: 350px;
            background: url(../img/kv_tablet.jpg) no-repeat 50% 0;
            background-size: cover;
            margin-bottom: 10px;
        }
        /*Smartphone*/
        @media screen and (max-width: 768px) {
            height: 200px;
            background: url(../img/kv_smartphone.jpg) no-repeat 50% 0;
            background-size: cover;
            margin-bottom: 10px;
        }
    }
    &__titleInner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 0;
        text-align:center;
    }
    &__mainTitle {
        font-size: var(--fz20);
        }
    &__subTitle {

        font-size: var(--fz14);
        }
    &__link {
        text-align: center;
    }
}

.SampleImages {
    &__list {
        @extend %clearfix; // placeholderの呼び出し（_mixin.scss）
        text-align: center;
    }
    &__item {
        display: inline-block;
        margin: 10px;
        text-indent: -9999px;

        &--sample01 {
                @include retina-sprite($sprite-bg-sample-01-group);// CSSスプライトの呼び出し（gulp実行すると自動生成される_sprite.scssにmixinが定義されています）
                //
                // ■retinaでない画像の時
                // 1. @include sprite();のカッコ内に
                // 2. $sprite-{src/img/sprite/以下の画像のパスをハイフンでつないだもの}　を記載します。
                // 例)ex)「bg_sample_01.png」の場合　→ @include sprite($sprite-bg-sample-01);
                //
                // ■retina対応する時
                // 1. Gulpfile.js内のretina用の設定が有効になっていることを確認してください。
                // 2. @include retina-sprite();のカッコ内に
                // 3. $sprite-{src/img/sprite/以下の画像のパスをハイフンでつないだもの}-group　を記載します。
                // ex)「bg_sample_01.png」「bg_sample_01_2x.png」の場合　→ @include retina-sprite($sprite-bg-sample-01-group);
        }
        &--sample02 {
                @include retina-sprite($sprite-bg-sample-02-group); // CSSスプライトの呼び出し（_sprite.scss）
                //@include rsprite($sprite-bg-sample-02); // retinaでないCSSスプライトの呼び出し
        }
        &--sample03 {
                @include retina-sprite($sprite-bg-sample-03-group); // CSSスプライトの呼び出し（_sprite.scss）
                //@include rsprite($sprite-bg-sample-02); // retinaでないCSSスプライトの呼び出し
        }
        &--sample04 {
                @include retina-sprite($sprite-bg-sample-04-group); // CSSスプライトの呼び出し（_sprite.scss）
                //@include rsprite($sprite-bg-sample-02); // retinaでないCSSスプライトの呼び出し
        }
    }

}
