@charset "UTF-8";

// 色やz-indexなど、一元管理したい変数をここに入れて適宜利用します
//
// 色
// $color-foofoo: #fff;
// $color-barbar: #000;
//
// z-index
// $z-index-anchor: 1;
// $z-index-sidenav : 2;
//


$fz14: calc(14 / 16 * 1rem);
$fz16: calc(16 / 16 * 1rem);
$fz18: calc(18 / 16 * 1rem);
$fz20: calc(20 / 16 * 1rem);
$vw: 1vw;

@mixin defaultSetting() {
    --vw: #{$vw};
    --fz20: #{$fz20};
  }


:root{
    @include defaultSetting;
  }

body{
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.size-100{
    width: calc(var(--vw) * 100);
  }
.size-50{
    width: calc(var(--vw) * 50);
  }

// .main-title {
//  font-size: var(--fz20);
//  }
//  .sub-title {
//  font-size: var(--fz14);
//  }