// .Anchor
.Anchor.js-promotion-stickyNav
    block anchor_header
        .Anchor__header.cf
            .Anchor__title メニュー
    .Anchor__body.cf
        div.Anchor__inner
            ul.Anchor__list
                li.Anchor__item
                    a.js-promotion-scroller(href="#header") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#itemgroup_a1") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#app") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
// /.Anchor
