// ★★★ULTパラメータ#prbnr1
#prbnr1
    // .Banner
    .Banner
        .Banner__inner
            // 縦並びバナー
            ul.Banner__items.Banner__items--vertical
                li.Banner__item
                    a.Banner__link(href="#")
                        img(src="http://dummyimg.corp.yahoo.co.jp/450x100",alt="テキスト")
                li.Banner__item
                    a.Banner__link(href="#")
                        img(src="http://dummyimg.corp.yahoo.co.jp/450x100",alt="テキスト")

            // 横並びバナー
            ul.Banner__items.Banner__items--horizontal
                li.Banner__item
                    a.Banner__link(href="#")
                        img(src="http://dummyimg.corp.yahoo.co.jp/450x100",alt="テキスト")
                li.Banner__item
                    a.Banner__link(href="#")
                        img(src="http://dummyimg.corp.yahoo.co.jp/450x100",alt="テキスト")

    // /.Banner
