// .Download
// ★★★ULTパラメータ#app★★★
.Download#app
    .Download__inner
        .Download__header
            .Download__title 指1本でかんたん操作。ヤフオク!公式アプリ
        .Download__body
            ul.Download__items
                li.Download__item
                    dl.Download__device
                        dt.Download__deviceHeader
                            span.Download__deviceTitle.Download__deviceTitle--smartphone スマートフォン版ヤフオク!
                        dd.Download__deviceBody
                            ul.Download__deviceItems
                                li.Download__deviceItem
                                    a.Download__link.Download__link--smartphoneiOS(href="https://itunes.apple.com/jp/app/apple-store/id356968629?mt=8",data-ylk="slk:sp_ios") iPhone/iPod touch
                                li.Download__deviceItem
                                    a.Download__link.Download__link--smartphoneAndroid(href="https://play.google.com/store/apps/details?id=jp.co.yahoo.android.yauction",data-ylk="slk:sp_and") Android
        .Download__footer
            p.Download__note スマートフォンでバーコードを読み取るには、専用のアプリが必要です。
            
// /.Download
