include _product

// .Carousel
.Carousel.js-promotion-carousel
    .Carousel__inner
        |<!--
        .Carousel__header
            .Carousel__title 商品のリスト（カルーセル）
        |-->
        .Carousel__body.js-promotion-carousel-body
            ul.Carousel__items.js-promotion-carousel-list.js-promotion-flatHeight
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
        .Carousel__footer.js-promotion-carousel-footer
               .Carousel__nav
                   .Carousel__prev.js-promotion-carousel-prev
                        span 前へ
                   .Carousel__next.js-promotion-carousel-next
                        span 次へ
                   ul.Carousel__indicator.js-promotion-carousel-indicator

// /.Carousel

// .Carousel
.Carousel.js-promotion-carousel(data-promotion-carousel-column="2")
    .Carousel__inner
        |<!--
        .Carousel__header
            .Carousel__title 商品のリスト（カルーセル）
        |-->
        .Carousel__body.js-promotion-carousel-body
            ul.Carousel__items.js-promotion-carousel-list.js-promotion-flatHeight
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(0, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(1, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(2, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(3, false)
                li.Carousel__item.js-promotion-carousel-item
                    +Product(4, false)
        .Carousel__footer.js-promotion-carousel-footer
               .Carousel__nav
                   .Carousel__prev.js-promotion-carousel-prev
                        span 前へ
                   .Carousel__next.js-promotion-carousel-next
                        span 次へ
                   ul.Carousel__indicator.js-promotion-carousel-indicator

// /.Carousel
