extends _anchor
block anchor_header
    .Anchor__header.Anchor__header--background.cf
        .Anchor__title メニュー
        // .Countdown
        .Countdown
            .Countdown__body
                ul.Countdown__items
                    li.Countdown__item 残り：
                    li.Countdown__item.Countdown__item--time.js-hour01 1
                    li.Countdown__item.Countdown__item--time.js-hour02 1
                    li.Countdown__item 時 間
                    li.Countdown__item.Countdown__item--time.js-minute01 2
                    li.Countdown__item.Countdown__item--time.js-minute02 0
                    li.Countdown__item 分
                    li.Countdown__item.Countdown__item--time.js-second01 5
                    li.Countdown__item.Countdown__item--time.js-second02 9
                    li.Countdown__item 秒
        // /.Countdown
