p(style="background: #000;color:#fff;padding:10px;margin:10px 0;text-align:center;") キービジュアルここから
//- 以下、サンプルのpugソースの書き方です
//- 利用するときは以下を削除してください
div.SampleKeyVisual
    h1.SampleKeyVisual__title タイトル
    p.SampleKeyVisual__link
        a.js-promotion-scroller(href="#testanchor") ページ内リンク（クリック元はこのHTMLのように指定してください）