<!--[if (gte IE 9)|!(IE)]><!-->
div#fb-root
script.
    //facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
    //twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http://i.yimg.jp/':'https://s.yimg.jp/';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'l/cmn/twitter-widgets/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

<!--<![endif]-->
