// .Anchor
.Anchor.js-promotion-stickyNav.js-promotion-expand
    block anchor_header
        .Anchor__header.cf
            .Anchor__title.js-promotion-expandBtn メニュー
    .Anchor__body.cf
        div.Anchor__inner
            ul.Anchor__list
                li.Anchor__item
                    a.js-promotion-scroller(href="#header") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#itemgroup_a1") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#app") ああああ
            ul.Anchor__list
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
            ul.Anchor__list
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    a.js-promotion-scroller(href="#") ああああ
                li.Anchor__item
                    |&nbsp;
// /.Anchor
