.commonArticle
    .commonArticle__inner
        .commonArticle__header.commonArticle__header--large あああああああ
        .commonArticle__header.commonArticle__header--medium あああああああ
        .commonArticle__text ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。


.articleModule.articleModule__imgLeft
    .articleModule__thumbs
            img(src="../img/thumbs.jpg")
    .articleModule__body
        a(href="#") ぶんしょうぶんしょうぶんしょうぶんしょうぶんしょうぶんしょう
        p xaksncisudhvdjsnvjksdhvjsvjksvfjsbvjksbvhsbhvbhj
            


.articleModule.articleModule__imgRight
    .articleModule__thumbs
            img(src="../img/thumbs.jpg")
    .articleModule__body
        .articleModule__header 
            h1 たいとる
        .articleModule__text ぶんしょうぶんしょうぶんしょうぶんしょうぶんしょうぶんしょう

.articleModule__body
    .articleModule__header 
        h1 たいとる
    .articleModule__text ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。ゆかりのある地域、訪れてみたい地域、日本全国お好きな地域から食材をお選びいただけます。
