
.articleModule.articleModule__imgCtr
    .articleModule__thumbs
        img(src="../img/thumbs.jpg")
    .articleModule__mnBody
        .articleModule__header 
            h2 へっだ
        .articleModule__mainText
            p ないよう

.articleModule.articleModule__imgLeft
    .articleModule__thumbs
        img(src="../img/thumbs.jpg")
    .articleModule__mnBody
        .articleModule__header 
            h2 へっだ
        .articleModule__mainText
            p ないよう

.articleModule.articleModule__imgRight
    .articleModule__thumbs
        img(src="../img/thumbs.jpg")
    .articleModule__mnBody
        .articleModule__header 
            h2 へっだ
        .articleModule__mainText
            p ないよう
