head
    meta(charset="utf-8")
    title レスポンシブテンプレテスト
    meta(name="keywords",content="●●●●●●●●")
    meta(name="description",content="●●●●●●●●")
    meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="apple-touch-icon",href=" ")
    meta(name="twitter:card",content=" ")
    meta(name="twitter:site",content=" ")
    meta(property="og:type",content="website")
    meta(property="og:site_name",content=" ")
    meta(property="fb:app_id",content=" ")
    meta(property="og:title",content="●●●●●●●●")
    meta(property="og:url",content="●●●●●●●●")
    meta(property="og:image",content="●●●●●●●●")
    meta(property="og:description",content="aaaaaaaaaaaaaaaaaaa")
    // サニタイズCSS 
    link(rel="stylesheet",href="../css/ress.css",media="all")
    // Webフォント
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")
    // 各ページCSS 
    link(rel="stylesheet",href="../css/index.css",media="all")
