//- 以下、サンプルのpugソースの書き方です
//- 利用するときは以下を削除してください
.KeyVisual
    .KeyVisual__inner
        .KeyVisual__titleInner
            h1.KeyVisual__mainTitle タイトル
            .KeyVisual__subTitle サブサブサブサブサブ
    p.KeyVisual__link
        a.js-promotion-scroller(href="#testanchor") ページ内リンク（クリック元はこのHTMLのように指定してください）

